body {
    font-family: Arial, sans-serif;
}

.container {
    width: auto;
    margin: 0;
    padding: 0px;
    /*text-align: center;*/
    /* Centraliza todo o conteúdo */

}

h1 {
    text-align: center;
    /* Centraliza todo o conteúdo */
    margin-bottom: 5px;
    /* Aumenta o espaço abaixo do título */
}
.text-end{
    text-align: center;
    /* Centraliza todo o conteúdo */
    margin-bottom: 5px;
    /* Aumenta o espaço abaixo do título */
}

.footer{
    bottom: 0;
    margin-top: 600px;
    width: 99%;
    text-align: right;
}
.conteudo{
    background-color: red;
    display: flex;
}

.medic-field{
    width: 99%;
    margin-right: 10%;
    font-family: cursive;
    margin-left: 60%;
    margin-top: 40%;
}

.medic-field-name{
    margin-left: 80px;
}
.medic-field-crm{
    margin-left: 130px;
}

.medic-field-name-c{
   margin-left: 90px;
   font-family: Helvetica;
   font-size: 25px;
   font-weight: bold;
}
.medic-field-crm-c{
    margin-left: 110px;
    font-family: Helvetica;
font-weight: bold;
}

hr_medic{
    width: 20%;
    height: 1px;
    color: black;
    margin: 0 auto;
    align: right
}